:root {

    /* Pallet */
    --clr-main-header: #292929;
    --clr-main-header-after: #1E1E1E;
    --clr-green: #58c93a;
    --clr-card-text: #606060;
    --clr-card-title: #4F4E4E;
    --clr-card-button-text: #C2C1C1;
    --clr-card-button-border: RGBA(194, 194, 194, 1);
    --clr-main-footer: #F8F8F8;
}
