.main-footer {
  background-color: var(--clr-main-footer);
}

.footer-content {
  height: 316px;
  flex-direction: column;
}

.main-footer .logo {
  margin-top: 80px;
}

small {
  font-size: 0, 8125rem;
  line-height: 1, 25rem;
  margin-top: 32px;
  margin-bottom: 37px;
  color: var(--clr-main-footer-text);
}

.social-links {
  margin-bottom: 80px;
  color: white;
}

.social-links li {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: var(--clr-main-footer-social-links);
}

.facebook,
.twitter,
.behance {
  margin-right: 20px;
}

.dribbble {
  margin: 0 10px;
}

.facebook:hover {
  background-color: #516fad;
}

.twitter:hover {
  background-color: #1da1f2;
}

.behance:hover {
  background-color: #131418;
}

.dribbble:hover {
  background-color: #ea4c89;
}
